static/codes/2qr.png
static/codes/5qr.png
static/codes/8qr.png
static/codes/17qr.png
pyfile/__pycache__/otp.cpython-311.pyc
database/__pycache__/database.cpython-311.pyc
__pycache__/fang.cpython-311.pyc
client.db
static/codes/6qr.png
static/codes/8qr.png
__pycache__/fang.cpython-311.pyc
templates/session_mng_registration.html
static/codes/8qr.png
