<!DOCTYPE html>
<html>
    <head>
   
</head>
<body>

    <h2 style="color:rgb(167, 22, 102)">Step 2 : Intelligence Gathering </h2>
    <h3>During this phase you will scan your network for connected devices.
     Please ensure all devices you like to test is now online.</h3>
     <br><br>

     <!--Scan Button -->
     <form action="/scan" method="POST">
        <input type="hidden" name="csrf_token" value ="{{csrf_token()}}"/>
        <input type="submit" value="SCAN">

     </form>


     <br><br>

    

  
</body>
</html>



            
   

