{% block body %}
<br>  <br> 
<div style="text-align:center">
    <h1 style="color:rgb(167, 22, 102)">Welcome to FANG</h1>
    <h4>Before you can use this tool, you need to complete the pre-engagement phase of our penetration testing service.</h4><br>
    <p> This phase involves defining the scope, objectives, and rules of engagement for the test, as well as signing the contract and the non-disclosure agreement. 
        If you have not gone through this process, please contact us to start the engagement</p>
    
    <a href="https://fang.onrender.com/">Contact Us</a>
{% endblock %}