{% extends 'base.html' %}

{% block body %}
<br>  <br> 
<div style="text-align:center">
    <h1 style="color:rgb(167, 22, 102)">Welcome to FANG</h1>
    <h4>Before you can use this tool, you need to complete the pre-engagement phase of our penetration testing service.</h4>
    <p> This phase involves defining the scope, objectives, and rules of engagement for the test, as well as signing the contract and the non-disclosure agreement. 
        If you have not gone through this process, please contact us to start the engagement</p>
    
    <a href="https://fang2.onrender.com/">Contact Us</a>

    <hr style="color:rgb(167, 22, 102);width:100%;text-align:left;margin-left:0">
</div>
<br>

        <h3>LOGIN</h3>
    
        {{error}}
    
    <form action="/form_login" method="POST">

        <input type="hidden" name="csrf_token" value ="{{csrf_token()}}"/>
        <h4 style="color:rgb(167, 22, 102)">Start by entering your username</h4>
        
        <input name="username" required></br>
         
        <h4 style="color:rgb(167, 22, 102)">Enter Unique Key</h4>
        
        <input type="password" name ="password" required></br>

        <h4 style="color:rgb(167, 22, 102)">Verification Code</h4>
        
        <input name ="otp" ></br>
        <br>
        <input type="submit" value="Login">
    </form>
    <br>

{% endblock %}
