<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h2 style="color:rgb(167, 22, 102)">Phase 2 : Intelligence Gathering </h2>
        <h3>Here are all the devices on your network. </h3>
        <p>You can remove any devices you do not want to be further investigated.</p>
        <p>Press save to logout and exit phase 2.</p>
        <p>We will be in touch with the results of phase 3.</p>
         <br><br>
        <table class="table">
            <thead>
                <th>Number of Device</th>
                <th>IP_address</th>
                <th>Mac_Address</th>
                <th>Manufacturer</th>
                <th>Remove from Audit</th>
                
            </thead>
                    
            <!---Running through the list of devices saved and printing in column-->
                    
            {%for row in rows%}
            <tr>
                <td> {{ row["rowid"] }} </td>
                <td> {{ row["ip"] }} </td>
                <td> {{ row["macaddress"] }} </td>
                <td> {{ row["manufacturer"] }} </td>
                <td> <form  onsubmit="return confirm('Are you sure you want to DELETE this device from the Database?');" action="{{url_for('delete')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="hidden" name="csrf_token" value ="{{csrf_token()}}"/><input type="submit" value="Delete"></form> </td
            </tr>    
            {%endfor%}

        </table>
        <a href="{{ url_for('exit') }}"> Exit </a>
    </body>
</html>
