
<!DOCTYPE html>
<html>
<head>
<title>FANG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    
</head>
<body>
<!-- Write your comments here -->
<h1>Welcome to FANG</h1>
<h2>Please validate for the process to start</h2>

<form action="/form_login" method="post">
    <label for="usern"><b>Enter Email</br></label>
    <input type="email" placeholder="Enter Email" name="username" required></br>

    <label for="psw"><b>Enter Unique key</br></label>
    <input type="password" placeholder="Enter Unique Key" name="uniqekey" required></br>

    <input type="submit" value="Login">
</form>

<h1>{{info}}</h1>
</body>
</html>
