{% extends 'base.html' %}


{% block body %}
<h1 style="color:rgb(167, 22, 102)">Welcome to FANG </h1>
<h2>This is your first time using our services and are required to go through the verification process </h2>

<br>

<h2 style= "color:rgb(167, 22, 102)"> Enter your unique password </h2>
<h4 >Your password must be at least 8 characters, upper and lowercase and have at least one special character '$', '@', '#', '%', '!' </h4>

<form action="/validate" method="POST">

    <label for="usern"><b>secret code name</b></label>
    <input name="username" required></br><br>

    <label for="psw"><b>unique phrase</b></label>
    <input type="password" name ="uniqekey" required><br><br>

    <label for="usern"><b>password</b></label>
    <input type="password" name="password" required></br><br>
    
    <label for="psw"><b>confirm password</b></label>
    <input type="password" name ="conf_password" required><br><br>

    <input type="submit" value="Save"> 
</form>
<br>
<strong style="color:rgb(212, 17, 17)">{{msg}}</strong>
  

    
{% endblock %}   